.pitch
  text-align: center
  background: $color-grey-bg
  padding: 80px 0

  @media $sm-up
    padding: 80px 100px

  // .pitch__head
  &__head
    font-size: 30px
    font-weight: 400
    color: $color-grey
    margin: 0

  // .pitch__subhead
  &__subhead
    margin: 20px auto 0
    max-width: 650px

  // .pitch__action
  &__action
    margin-top: 20px

  // .pitch__list
  &__list
    width: 100%
    margin: 0
    padding: 25px 0
    list-style: none

    // .pitch__list-item
    &-item
      display: inline-block
      vertical-align: top
      width: 250px
      padding: 25px 10px

      @media $md-up
        width: 250px
        padding: 25px 25px

      // pitch__list-item-container
      &-container

      // .pitch__list-item-text
      &-text
        margin-top: 15px