.styled-table
  margin: 50px auto
  width: 100%

  // .styled-table--500
  &--500
    max-width: 500px

  // .styled-table__header
  &__header
    text-align: left
    color: #555555
    font-size: 0.685em
    text-transform: uppercase
    border-bottom: 1px solid #CCCCCC

    // .styled-table__header-item
    &-item
      padding: 15px 0

      // .styled-table__header-item--center
      &--right
        text-align: center

      // .styled-table__header-item--right
      &--right
        text-align: right

  // .styled-table__row
  &__row
    color: #777777
    font-size: 0.875em
    border-bottom: 1px solid #CCCCCC

  // .styled-table__cell
  &__cell
    padding: 15px 0

    // .styled-table__cell--center
    &--center
      text-align: center

    // .styled-table__cell--right
    &--right
      text-align: right

    // .styled-table__cell--bold
    &--bold
      font-weight: 600

    // .styled-table__cell--highlight
    &--highlight
      color: $brand-primary