#app
    
    .ReactStyleguidist-Layout__sidebar
        background $brand-primary
        color $color-white
    
    .ReactStyleguidist-Layout__heading
        color $color-white
    
    .ReactStyleguidist-colors__link
        color $color-white
    
    .ReactStyleguidist-Layout__sidebar
        width 230px
    
    .ReactStyleguidist-Playground__preview
        background $body-bg
    
    .ReactStyleguidist-Layout__footer
        display none