.inlineVector
  display: inline-block
  //vertical-align: middle
  font-size: 0
  line-height: 0

  // .inlineVector__svg

  // .inlineVector__shape

// SPECIAL ICON for numbers
.icon-number
  display: inline-block
  
  width: 22px
  height: 22px
  line-height: 20px
  border: 1px solid white
  border-radius: 15px
  color: white
  font-size: 0.8em
  font-weight: 700
  text-align: center

.icon-more
  height: 24px
  line-height: 24px
  font-size: 14px

  .inlineVector
      margin-left: 20px;

  // .icon-number__text
  &__text
    color: white
