
@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat-bold.eot')
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg')
    font-weight: 900
    font-style: normal

@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat-regular.eot')
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg')
    font-weight: 700
    font-style: normal

@font-face 
    font-family: 'Montserrat'
    src: url('../fonts/montserrat-light.eot')
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat-light.svg#montserratlight') format('svg')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Montserrat'
    src: url('../fonts/montserrat-extralight.eot')
    src: url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight.woff2') format('woff2'),
         url('../fonts/montserrat-extralight.woff') format('woff'),
         url('../fonts/montserrat-extralight.ttf') format('truetype'),
         url('../fonts/montserrat-extralight.svg#montserratextralight') format('svg')
    font-weight: 300
    font-style: normal
