.alpha
	set-font-size 26px
	margin 10px 0 22px
	font-weight 400
		
	@media $md-up
		set-font-size 32px
		
.beta
	set-font-size 22px
	margin 10px 0 22px
	font-weight 400
		
	@media $md-up
		set-font-size 24px