

@keyframes modal-video {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes modal-video-inner {
	from {
		transform: translate(0, 100px);
	}

	to {
		transform: translate(0, 0);
	}
}

.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	animation-timing-function: ease-out;
	animation-duration: .3s;
	animation-name: modal-video;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}

.modal-video-effect-leave {
	opacity: 0;

	& .modal-video-movie-wrap {
		-webkit-transform: translate(0, 100px);
		-moz-transform: translate(0, 100px);
		-ms-transform: translate(0, 100px);
		-o-transform: translate(0, 100px);
		transform: translate(0, 100px);
	}
}

.modal-video-body {
	width: 90%;
	height: auto;
	margin: 0 auto;
    padding: 10% auto;
	display: table;
}

.modal-video-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.modal-video-movie-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 56.25%;
	background-color: transparent;
	animation-timing-function: ease-out;
	animation-duration: .3s;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-ms-transition: -ms-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;

	& iframe {
		position: absolute;
		width: 100%;
		height: 80%;
        top:30px;
        bottom:0;
        left:0;
        right:0;
        margin: 0 auto;
	}
}

.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	padding: 2px;
    right: 10px;
    top: 10px;
    text-align: right;
	display: inline-block;
	width: 20px;
	height: 30px;
	overflow: hidden;
	border: none;
	background: transparent;

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:before,
	&:after {
		content: ''
		position: absolute
		height: 2px
		width: 100%
		top: 50%
		left: 0
		margin-top: -1px
		background: #fff;
		border-radius: 5px
		margin-top: -6px
	}
}

.css-overlay-transparent {
  background: transparent !important
}

.css-modal-left {
	border-radius: 5px
	top: 78px
	margin: 0px 0px auto auto
}

.css-modal-center {
	border-radius: 5px
	margin: auto
}

.css-modal-top {
	border-radius: 5px
    margin: 0px 0px 0px 0px
    top: 0px
    width: 100%
    height: 50px

	@media $xs-only {
		height: 84px
        line-height: 25px
	}
}

.topBanner{
	display: flex
    width: 100%
    justify-content: center
    align-items: center
    height: 30px
    background-color: #000
	text-align: center

	@media $xs-only {
		/*height: 84px*/
        line-height: 25px
	}
}