pura-loader()
  &:after {
    position: absolute
    z-index: 1000
    content: ''
    width: 100px
    height: 100px
    top: 50%
    left: 50%
    margin-left: -50px
    margin-top: -50px
    background: image-url('pura-loader-big-logo.png')

    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: once;
    animation-timing-function: $bezier-cubic;
    animation-name: zoomIn;
    transform-origin: center center
  }

  &:before {
    position: absolute
    z-index: 1001
    content: ''
    width: 100px
    height: 100px
    top: 50%
    left: 50%
    margin-left: -50px
    margin-top: -50px
    background: image-url('pura-loader-big.png')

    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotate360;
    transform-origin: center center
  }

@keyframes rotate360 {
  0% {
    transform: rotate(-360deg)
  }

  100% {
    transform: rotateZ('360deg')
    transform: rotate(0)
  }
}

@keyframes zoomIn {
  0% {
    transform: scale3d(0, 0, 0)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}