.register
  // .register__info
  &__info
    text-align: center
    margin: 0 auto

  &__shipping--heading
    text-align: left;
    font-size: 28px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #363636;
    margin-bottom: 20px;

  @media (max-width:768px)
    &__shipping--heading
      text-align: center;

.register-form
  // .register-form__heading
  &__heading
    font-size: 1em
    color: #868686
    margin: 0 0 20px
    text-transform: uppercase

.register-payment
  .ordersummary
    border-top: 2px solid #e3e3e3;
    font-size 15px
    .separator__container
        padding: 0 0px;
.note--price
  .form__note-price
    color: #777;
    text-decoration: none;
    margin-left: 0.4em;
    float: right;
    font-size 15px
.order_summery
  .form__note-link
    float: right;
    font-size 15px
.price-right
  .form__note-price
    float: right;
    font-size 15px

.price-total
  .form__note-text
    color:#222222;
    font-weight:600;
    font-size 16px
  .form__note-price
    float: right;
    color:#222222;
    font-weight:600;
    font-size 16px

.payment-button
  .btn
    padding:0px;

.payment-button.form__item
  flex:unset
  padding:0
  margin-top:0 !important

.heading_info
  .form__note-text
    margin: 5px 0px 10px 0px;
    display: block;
    color: #868686;
    font-size 15px
    text-transform: uppercase
    
.heading_error
  .form__note-text
    display: block;
    color: red;
.btn-redeem
  border-radius: 0px
  width: 100%
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
.btn-plus
  border-radius: 5px
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2)
.btn-final
  margin: 0px