.breadcrumbs
  // .breadcrumbs__link
  &__link
    display: inline-block
    color: #888888
    font-size: 0.8em
    text-decoration: none

    &:hover, &:focus
      text-decoration: underline

    // .breadcrumbs__link--active
    &--active
      font-weight: 600
      
      &:hover, &:focus
        text-decoration: none

  // .breadcrumbs__separator
  &__separator 
    padding: 0 5px

    .inlineVector__svg
      height: 10px