.summary-widget
  margin: 20px auto
  max-width: 550px

  // .plan-widget__row
  &__row
    padding: 12px 0
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

    font-size: 0.875em
    color: #777777

    &--first
      padding: 10px 0

    // .plan-widget__row--total
    &--total
      font-weight: bold
      color: #222222

  // .plan-widget__column
  //&__column
    
  // .plan-widget__label
  &__label
    flex: 0 1 auto

    // .plan-widget__label-icon
    &-icon
      vertical-align: middle

      .inlineVector__svg
        height: 60px

    // .plan-widget__label-text
    &-text
      vertical-align: middle

  // .plan-widget__content
  &__content
    text-align: center
    flex: 1 0 auto

  // .plan-widget__price
  &__price
    text-align: right
    flex: 0 1 50px

  &__green
    color: #50e3c2;  
  