.form__note
  display: block
  font-size: 0.75em
  padding-top: 10px
  &-price 
    color: $brand-primary
    text-decoration: none
    margin-left: 0.4em
  &--left
    text-align: left

  &--center
    text-align: center

  &--right
    text-align: right

  &--info
    font-size: 15px
    color: #777777
    padding-top: 0

  &--green
    font-size: 15px
    color: #18cea0
    padding-top: 0
  
  &--11
    font-size: 11px
    color: #777777
    padding-top: 0
  
  &--12
    font-size: 12px
    color: #777777
    padding-top: 0

  // .form__note-text
  &-text
    // color: #868686

  // .form__note-link
  &-link
    color: $brand-primary
    text-decoration: none
    margin-left: 0.4em
    cursor: pointer
    
    &:hover, &:focus
      text-decoration: underline

  &--padding
    padding: 0 0 0 15px;    
